/* google fonts uses  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------------------------common or utilits style------------------------------------------- */

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}


/* --------------------------------------header section style---------------------------------------------  */
header{
    background-color: #2D25A0;
}

/* --------------------------------------Navbar section style---------------------------------------------  */

.navbar{
    display: flex;
    justify-content: center;

}

.nav-items{
    display: flex;
    width: 1200px;
    padding: 40px 0 10px;
    align-items: center;
    justify-content: space-between;
}

.nav-item ul li{
    display: inline-block;
    /* list-style: none; */
    margin-right: 36px;
}

.nav-item ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.nav-item ul li a:hover{
    color: #E02C6D;
}

.nav-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 44px;
    background-color: #E02C6D;
    transition: width 1s ;
}

.nav-login:hover{
    background-color: #e61c37;
    width: 150px;
}
.nav-login a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.fixed{
    margin: 5px;
}
/*--------------------------------------Hero section style-------------------------------------- */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 50px 0 80px 0;
}

.title-text {
    color: #FFFFFF;
    font-size: 64px;
}

.btn{
    width: 168px;
    height: 44px;
    margin-top: 30px;
    background-color: #E02C6D;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 1s;
}

.btn:hover{
    width: 180px;
    background-color: #e61c37;
}

.btn a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10 0;
}

.hero-image img{
    width: 556px;
    height: 456px;
}

/*--------------------------------------End of Header section -------------------------------------- */


/* --------------------------------------main section style ------------------------------------------*/

/* --------------------------------------players Card section style ------------------------------------------*/


.all-players{
    margin: 90px 0 40px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px ;
}


.player-card{
    width: 330px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.player-card:hover .player-info img{
    transform: scale(1.05);
}

.player-info{
    padding: 15px;
}

.player-info img{
    width: 300px;
    height: 256px;
    transition: transform 1s;
}

.player-info h3{
    font-size: 24px;
}

.player-info p{
    margin-top: 5px;
}

/* --------------------------------------End of players Card section style ------------------------------------------*/


/* --------------------------------------Blog area section style ------------------------------------------*/

.blog-area{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 90px 0 120px 0;
}

.title-text2 {
    color: #0A0826;
    font-size: 48px;
}

.blog-thumbnil img{
    width: 567px;
    height: 427px;
}

/* --------------------------------------End of Blog area section style ------------------------------------------*/

/* --------------------------------------News area section style ------------------------------------------*/

.news{
    width: 1200px;
}

.news a:hover .news-items{
    background-color: #ececec;
}

.news h1{
    font-size: 35px;
}

.news a{
    text-decoration: none;
    color: #0A0826;
}

.news-items{
    display: flex;
    align-items: center;
}

.news-thumbnil img{
    width: 560px;
    margin-top: 10px;
}

.news-info{
    padding-left: 50px ;
}

.news-info h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.news-info p{
    margin-top: 15px;
}

/* --------------------------------------End of News area section style ------------------------------------------*/

/* --------------------------------------Ratting section style ------------------------------------------*/

.ranking{
    margin: 80px 0 30px;
}

.ranking h1{
    font-size: 35px;
}
.players-rank{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin-top: 10px;
}


.player-rank{
    width: 280px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    transition: transform 2s;
}

.player-rank:hover{
    transform: rotate(5deg);
}


.player-img img{
    width: 250px;
    margin: 15px;
}

.player-ratting i{
    font-size: 24px;
}

.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}


/* -------------------------------------- footer style ------------------------------------------*/

.footer-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 50px;
}



.footer-img img{
    width: 440px;
}

.footer-icon{
    color:  #969BAB;
    margin-top: 20px;
}

.footer-icon i{
    font-size: 18px;
    padding: 15px;
    margin: 5px;
    background-color: #e9e9e9;
    border-radius: 30px;
}

.footer-copyright{
    font-size: 18px;
    margin-top: 20px;
}

/* --------------------------------------End of footer style ------------------------------------------*/



/* --------------------------------------For Mobile Device style ------------------------------------------*/

 /* Media Queries */

 @media only screen and (max-width:688px){

    /* header section  */
    .hero, .blog-area, .news-items{
        flex-direction: column;
        align-items: center;
    }
    
    .title-text{
        font-size: 30px;
    }
    
    
    .hero-image img{
        margin-top: 36px;
        width: 347px;
        height: 273px;
        /* display: none; */
    }
    /* header section  */
    .blog-area{
        margin: 10px;
        justify-content: center;
    }


    .title-text2 {
        font-size: 30px;
    }

    .blog-thumbnil img{
        margin-top: 36px;
        width: 328px;
        height: 248px;
    }

    /* --------------------------- */

    .news, .ranking, .news-info{
        margin: 10px;
    }
    .news-info{
        padding: 0 ;
    }

    .news h1{
        font-size: 25px;
    }


    .news-thumbnil img{
        width: 336px;
        height: 188px;
    }

    .players, .players-rank {
        grid-template-columns: repeat(1, 1fr);

    }

    .footer-img img{
        width: 250px;
    }

     .navbar{
         display: none;
     }
 }